<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex" />
        <link rel="stylesheet" type="text/css" href="./style.css" />
        <script>
            src = "./funciones.js";
        </script>
        <title>Registro de usuario</title>
    </head>
    <body>
        <div class="container">
            <form class="form" action="learn.html">
                <h2 class="title">Confirma tu asistencia</h2>
                <div class="input-group">
                    <input
                        required=""
                        type="text"
                        name="text"
                        autocomplete="off"
                        class="input"
                    />
                    <label class="user-label">Código estudiantil</label>
                </div>
                <input class="button" type="submit" value="Acceder" />
            </form>
        </div>
    </body>
</html>
