<!DOCTYPE html>
<html>

<head>
    <title>Asistencia de Estudiantes</title>
    <script src="funciones.js"></script>
    <link rel="icon" href="imagen.ico">
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" type="text/css" href="estilacho.css">
</head>
<body style="background-image: url('imagenes/imagen.jpg');">
    <div class="header">
        <header>
            <h1>Bienvenido!</h1>
        </header>
    </div>

    <div class="sidebar">
        <ul>
            <li><a href="Reporte_estadistico.xls">Reporte Estadístico</a></li>
        </ul>
    </div>
    
    <div class="formulario">    
        <h4>Registra tu asistencia</h4>
        <form>
            <input class="forml" type="text" placeholder="Escriba su nombre y apellido" required><br>
            <input class="forml" type="email" placeholder="Escriba su email" required><br>
            <input class="forml" type="tel" placeholder="Escriba su numero de telefono" required><br>
            <input class="forml" type="time" required><br>
            <input class="forml" type="text" placeholder="Nombre del curso" required><br>
            <input class="botones" type="reset" value="Reestablecer Datos" id="DataReset"><br>
            <input class="botones" type="submit" value="Confirmar asistencia" id="BotonEnviar">
        </form>  
    </div>

    <div class="piedepagina">
        <footer>
            <ul>
                <li>
                    <a href="https://campusvirtual.ucc.edu.co/d2l/loginh/" target="_blank">Campus Virtual</a><br>
                </li>
                <li>
                    <a href="https://opscs.ucc.edu.co/psp/UCNAV/EMPLOYEE/HRMS/?&cmd=login&languageCd=ESP&" target="_blank">Timonel</a>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>
